

*{
margin:0;
padding:0;
}



   body { 
     text-align: center; 
     font-family: sans-serif; 
     } 
  
  
 h2 { 
     margin: 0 auto; 
     font-size: 25px; 
     margin: 10px; 
 } 
 
.flex-container { 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     
 }

.flex-column { 
     height: 100%; 
     width: 100%; 
     flex-direction: column; 
    
 }

.flex-wrap { 
     flex-wrap: wrap; 
     height: 132px; 
     width: 152px; 
 }

.square { 
     border: 1px solid black;
     height: 90px; 
     width: 90px; 
     font-size: 40px; 
     display: flex; 
     align-items: center; 
     justify-content: center; 
 }



#reset-button { 
     text-align: center; 
     font-size: 10px; 
     border: 1px solid black; 
     height: 35px; 
     width: 70px; 
     margin: 10px; 
 }