
*{ 
 margin:0; 
 padding:0; 
 } 
  
  
  
    body {  
      text-align: center;  
      background-color:#D4ECDD;         
 font-family: sans-serif;  
      }  
  
  h1{
      padding-top: 37px;  
      font-size: 35px;  
      
  }
  
  
  
  
  h2 {  
      padding-top:20px;
      font-size: 25px;  
      margin: 4px;  
  }  
  
 .flex-container {  
      display: flex;  
      justify-content: center;  
      align-items: center;  
  
  } 
  
 .flex-column {  
      height: 100%;  
      width: 100%;  
      flex-direction: column;  
  
  } 
  
  
  
  .flex-wrap {   
       flex-wrap: wrap;     
       height: 289px;   
       width: 295px;  
  
  
   } 
  
 .square {  
      border: 1px solid black; 
      height: 90px;  
      width: 90px;  
      font-size: 48px;  
      display: flex;  
      align-items: center;  
      justify-content: center;  
  } 
  
  
  
 #reset-button {  
       background-color:#345B63;
       color:white;
      text-align: center;  
      font-size: 18px;  
      border: 1px solid black; 
      border-radius:3px; 
      height: 39px;  
      width: 75px;  
      margin: 14px;  
      transition: 3s;

  }
  #reset-button:hover{
      transition: 3s;

}
      
  
      
      
      
      
      












